.chatBubbleWrapper {
  padding: 0.25em 0;
  white-space: pre-wrap;
  width: 100%;
  display: flex;
  flex-direction: row;

  &.userSent {
    justify-content: end;
    & .chatBubble {
      background-color: #00000015;
    }
  }

  &.systemSent {
    justify-content: center;
    & .chatBubble {
      background-color: grey;
      color: white;
      & .sendAt {
        padding-top: 0.5em;
        font-size: x-small;
        text-align: center;
      }
    }
  }

  &.machineSent {
    justify-content: start;
    & .chatBubble {
      background-color: #0000ff40;
    }
  }

  & .chatBubble {
    max-width: 35%;
    border-radius: 1em;
    padding: 1em;

    & .message {
      text-align: start;
    }

    & .sendAt {
      padding-top: 0.5em;
      font-size: small;
      text-align: end;
    }
  }
}
