.conversationHolder {
  flex-grow: 1;
  margin: 1em 1em 1em 0.5em;
  & .conversationWrapper {
    border: 1em;
    border-color: black;
    border-radius: 1em;
    box-shadow: 2px 2px 3px grey;

    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 1em;

    & .titleHolder {
      height: 10%;
      min-height: 75px;
    }
    & .conversationBubblesHolder {
      flex-grow: 1;
    }
    & .inputHolder {
      height: 10%;
      width: 100%;
      display: grid;
      grid-template-columns: 1fr auto;
      align-self: end;

      form {
        display: flex;
        align-items: center;
        justify-items: center;
        textarea {
          font: inherit;
          width: calc(100% - 35px);
          height: 3em;
          padding-left: 1em;
          padding-top: 1em;
          resize: none;

          border: 0.025em solid grey;
          border-radius: 0.5em;
        }
        svg {
          height: 35px;
          width: 35px;
          color: grey;
        }
      }
    }
  }
}
